.main-app-container {
    background-color: #030303f9;
    color: #e4600d;
    min-height: 100vh;
}

.add-task-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.add-task-button {
    background-color: #0f59e2;
    color: #fafafa;
    padding: 10px 20px;
}

.main-title {
    align-self: center;
    font-weight: 800;
    font-size: 25px;
    font-family: "Roboto";
    text-decoration: underline;
}

.task-list-table-info-container {
    padding: 0px 50px;
}

.task-list-main-titles-container {
    display: flex;
    align-items: center;
    list-style-type:none;
    margin-left: 0px;
    padding-left: 0px;
    background-color: #555757c5;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    color: #fafafa;
}

.task-list-items {
    margin-left: 0px;
    padding-left: 0px;
    background-color: #2b2c2cc5;
    color: #fafafa;
}
.id {
    width: 5%;
    padding: 0px 10px;
}
.user-id {
    width: 10%;
    padding: 0px 10px;
}
.title {
    width: 12%;
    padding: 0px 10px;
}
.description{
    width: 18%;
    padding: 0px 10px;
}
.status {
    width: 15%;
    padding: 0px 10px;
}

.update {
    width: 14%;
    padding: 0px 10px;
}
.delete{
    width: 12%;
    padding: 0px 10px;
}

.search-input {
    width: 50%;
    padding: 12px 35px;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: #2b2c2cc5;
    color: #fafafa;
    border-radius: 6px;
}

.login-signup-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.title-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.login-button {
    border: 0px;
    background-color: transparent;
    color: #e4600d;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}

.no-tasks-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    
}

.no-task-image {
    height: 200px;
    width: 300px;
}

@media screen and (max-width:767px){
    .main-title {
        font-size: 20px;
        font-family: San;
    }
}